p {
    color: rgb(255, 255, 255);
    text-align: center;
}
h3, ul {
    color: rgb(255, 255, 255);
}
h1, h2 {
    margin: 0;
    padding: auto;
    color: rgb(255, 0, 93);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 255, 238);
} 
img {
    display: block;
    margin: 0 auto;
}
div {
    height: 900px;
    width: 900px;
    margin: 0 auto;
    border: 5px solid rgb(4, 70, 111);
    background-color: rgb(51, 164, 158);
}
html{
    background-color: coral;
}
.dotFrame{
    border: 5px dotted red;
}
#headLine{
    background-color:blue;
    font-size: 18px;
    padding: auto;
    border: 4px darkgoldenrod;
    border-radius: 4px;
}
